[submodule "cub3D_working/libft"]
	path = cub3D_working/libft
	url = https://github.com/Drewski6/Libft
[submodule "cub3D_working/minilibx-linux"]
	path = cub3D_working/minilibx-linux
	url = https://github.com/42Paris/minilibx-linux
